body,td,th {
	font-size: 14px;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #FF3300;
}

form {
	
}

.aul {
	padding-left: 10px;
}

.aul div {
	line-height: 200%;
}

.nagv {
	width: 100%;
	height: 35px;
	background-color: #007AB5;
	margin-bottom: 5px;
}

input {
	width: 200px;
	padding: 5px 2px;
	margin: 3px 0px;
}

.nagv a {
	font-size: 14px;
	padding: 10px 15px;
	display: block;
	float: left;
	text-decoration: none;
}

.nagv a:link {
	color: #ffffff;
}

.nagv a:visited {
	color: #ffffff;
}

.nagv a:hover {
	color: #eeeeee;
	background-color: #00496D;
}

.nagv a:active {
	color: #ffffff;
}

.result {
	font-size: 16px;
	color: #FF0000;
	font-weight: bold;
	margin: 10px;
	background-color: #f6f6f6;
	padding: 10px;
}

.code {
	padding: 20px;
	background-color: #666666;
	color: #FFFFFF
}

table .head {
	height: 30px;
	background-color: #007AB5;
}

table .head td {
	color: #FFFFFF;
	padding: 5px;
}

table .item td {
	border-bottom: #DBDBDB dotted 1px;
	padding: 5px;
}